<div class="navbar-fixed">
    <nav class="nav-extended indigo darken-2">
        <div class="nav-wrapper">
            <a class="brand-logo">Quiz-me</a>
            <a data-activates="admin-slide-out" class="button-collapse sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul class="hide-on-med-and-down right">
                <li>
                    <a>{{vm.admin.username}}</a>
                </li>
                <li>
                    <a ng-click="vm.logout()">Logout</a>
                </li>

            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab">
                    <a class="white-text" ng-click="vm.toggleView(0)">Student Info</a>

                </li>
                <li class="tab">
                    <a class="white-text" ng-click="vm.toggleView(1)">Test List</a>

                </li>
                <li class="tab">
                    <a class="white-text" ng-click="vm.toggleView(2)">Question List</a>

                </li>
            </ul>

        </div>
    </nav>
</div>
<div id="admin-slide-out" class="side-nav">
    <ul>
        <li>
            <a>{{vm.admin.username}}</a>
        </li>
        <li>
            <a ng-click="vm.logout()">Logout</a>
        </li>

    </ul>
</div>


<div class="db-content">
    <div ng-if="vm.views[0].show">
        <user-listing-admin>
        </user-listing-admin>
    </div>
    <div ng-if="vm.views[1].show">
        <test-listing-admin>
        </test-listing-admin>
    </div>


    <div ng-if="vm.views[2].show">
        <question-listing></question-listing>
    </div>