<div class="container">
    <div class="row">
        <h5 class="flow-text">Please Enter your new password below</h5>
        <hr>
        <div class="col s12 m6">
            <form ng-submit="vm.resetPassword()">
                <div class="input-field">
                    <label for="newPassword"></label>
                    <input type="password" id="newPassword" ng-model="vm.newPassword">
                </div>
                <button class="btn btn-flat" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>