<div class="container">
    <div class="row">
        <div class="fixed-action-btn">
            <a ng-click="vm.toggleNewForm()" data-target="question-new" class="modal-trigger btn-floating btn-large blue">
                <i class="large material-icons">mode_edit</i>
            </a>
        </div>
    </div>
    <div class="col s12">
        <div class="input-field">
            <label for="selectQuestionInQuestionList">Search Question</label>

            <input type="text" ng-model="question" id="selectQuestionInQuestionList">
        </div>
    </div>
    <table class="hide-on-med-and-down">
        <thead>
            <tr>
                <th>Question Description</th>

                <th>option1</th>
                <th>Option2</th>
                <th>Option3</th>
                <th>Option4</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="questionList ">
            <tr ng-repeat="question in vm.questionList | filter : question" ng-class="vm.isSelected(question)">
                <td> {{$index + 1}}. {{question.description}}</td>

                <td ng-repeat="option in question.options track by $index ">
                    {{option}}
                    <span ng-if="question.answer===option ">
                        <i class="material-icons ">done</i>
                    </span>
                </td>
                <td>
                    <div class="row">
                        <div class="col s5">
                            <div class="col-content">
                                <a ng-if="!vm.test" class="modal-trigger" ng-click="vm.editSelect(question)" data-target="question-edit">
                                    <i class="material-icons">edit</i>
                                </a>
                            </div>
                        </div>
                        <div class="col s5">
                            <div class="col-content">
                                <a ng-if="!vm.test " class="" ng-click="vm.deleteQuestion(question._id)">
                                    <i class="material-icons red-text">delete</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="hide-on-large-only">
        <div ng-repeat="question in vm.questionList track by $index">
            <div class="col s12 m6">
                <div class="card" ng-class="vm.isSelected(question)">
                    <div class=" card-content">
                        <span class="card-title ">{{question.description}}</span>
                        <ul>
                            <li ng-repeat="option in question.options track by $index ">Option {{$index + 1}} : &nbsp;&nbsp;{{option}}
                                <span ng-if="question.answer===option ">
                                    <i class="material-icons ">done</i>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action ">
                        <a ng-if="!vm.test" class="modal-trigger" ng-click="vm.editSelect(question)" data-target="question-edit">
                            <i class="material-icons">edit</i>
                        </a>
                        <a ng-if="!vm.test " class="" ng-click="vm.deleteQuestion(question._id)">
                            <i class="material-icons">delete</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="question-edit" class="modal">
        <question-manager question="vm.editSelectq" action="vm.edit" on-update="vm.updateQuestion(question, action)" on-delete="vm.deleteQuestion(question)"></question-manager>
    </div>
    <div id="question-new" class="modal">
        <question-manager action="vm.showNew" on-update="vm.updateQuestion(question, action)"></question-manager>
    </div>
</div>