<div class="container">
    <table class="hide-on-med-and-down">
        <thead>
            <tr>
                <th>Test Name</th>
                <th>Test Date</th>
                <th>Time Required (Minutes)</th>
                <th>Score/Max-Score</th>
                <th>Percentage-score</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="test in vm.user.tests">
                <td>{{test.test.testname}}</td>
                <td>{{test.attemptDate}}</td>
                <td>{{test.submitTime / 60 | number:2}}</td>
                <td>{{test.score}}/{{test.test.questions.length}}</td>
                <td>{{test.percentageScore | number:2}}</td>
                <td>
                    <a class="modal-trigger waves-effect waves-teal btn-flat" ng-click="vm.selectTest(test)" data-target="test-details">Details</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="hide-on-large-only">
        <div ng-repeat="test in vm.user.tests">
            <div class="col s12 m6">
                <div class="card">
                    <div class=" card-content">
                        <span class="card-title ">{{test.test.testname}}</span>
                        <ul>
                            <li>
                                <div class="row">
                                    <div class="col s6">
                                        Date Attempted
                                    </div>
                                    <div class="col s6">
                                        {{test.attemptDate}}
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col s6">
                                        Time required
                                    </div>
                                    <div class="col s6">
                                        <p>
                                            {{test.submitTime / 60 | number:2}}
                                            <span class="helper-text">
                                                <em>(minutes)</em>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col s6">
                                        Score / Max-Score
                                    </div>
                                    <div class="col s6">
                                        {{test.score}}/{{test.test.questions.length}}
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col s6">
                                        Percentage-score
                                    </div>

                                    <div class="col s6">
                                        {{test.percentageScore | number:2}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action ">
                        <a class="modal-trigger waves-effect waves-teal btn-flat blue-text" ng-click="vm.selectTest(test)" data-target="test-details">Details</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-fixed-footer" id="test-details">
    <div class="modal-content">
        <div class="row center-align">
            <div class="col s4">
                <div class="col-content">
                    <h6>
                        <em>Test: &nbsp;</em>
                        <strong>{{vm.selectedTest.test.testname}}</strong>
                    </h6>
                </div>
            </div>
            <div class="col s4">
                <div class="col-content">

                    <h6>
                        <em>Time Taken &nbsp;</em>
                        <strong>{{vm.selectedTest.submitTime / 60 | number:3}} minutes</strong>
                    </h6>

                </div>
            </div>
            <div class="col s4">
                <div class="col-content">

                    <h6>
                        <em>Score : &nbsp;</em>
                        <strong>{{vm.selectedTest.score}}</strong>
                    </h6>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col s6">
                <div class="col-content">
                    <h6 class="center-align">
                        <em>Questions Attempted &nbsp;&nbsp;</em>
                        <strong>{{vm.selectedTest.answerKey.length}}</strong>
                    </h6>
                </div>
            </div>
            <div class="col s6">
                <div class="col-content">
                    <h6 class="center-align">
                        <em>Total Questions&nbsp;&nbsp;</em>
                        <strong>{{vm.selectedTest.test.questions.length}}</strong>
                    </h6>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="col-content">
                    <h6 class="center-align">Your Answers</h6>
                </div>
            </div>
        </div>

        <div ng-repeat="answer in vm.selectedTest.answerKey">
            <div class="divider"></div>
            <div class="section">
                <div class="row">
                    <div class="col s6">
                        <h6>
                            <strong>{{answer.question.description}}</strong>
                        </h6>
                        <em>Options</em>
                        <ul>
                            <li ng-repeat="option in answer.question.options">
                                {{option}}
                            </li>
                        </ul>

                    </div>
                    <div class="col s6">
                        <h6>
                            <em>
                                Your Response
                            </em> : &nbsp;&nbsp;
                            <strong>{{answer.answer}}</strong>
                            <h6>
                                <em>Time taken</em> :&nbsp;&nbsp;
                                <strong>{{answer.time}}</strong>
                            </h6>
                            <span>
                                <i class="large material-icons green-text right" ng-if="answer.score === 1">done</i>
                            </span>
                            <span>
                                <i class="material-icons red-text large right" ng-if="answer.score === 0">clear</i>
                            </span>
                            </h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close btn-flat">Close</a>
    </div>
</div>