<div class="modal-content">
    <div ng-if="vm.action ==='showNewForm'">
        <h6>Add New Question</h6>
        <form ng-submit="vm.Question('new')">
            <div class="row">

                <div class="col s12 m6 input-field inline">
                    <label for="Description">Question Description
                    </label>
                    <input id="Description" type="text" ng-model="vm.questionForm.description" required>

                </div>

                <div class="col s12 m12 l62 l6">
                    <div class="col s3 input-field inline">
                        <label for="option1">Option 1
                        </label>
                        <input type="text" id="option1" ng-model="vm.questionForm.option1" required>
                    </div>
                    <div class="col s3 input-field inline">
                        <label for="option2">Option 2
                        </label>
                        <input type="text" id="option2" ng-model="vm.questionForm.option2" required>
                    </div>


                    <div class="col s3 input-field inline">
                        <label for="option3">Option 3
                        </label>
                        <input type="text" id="option3" ng-model="vm.questionForm.option3" required>
                    </div>

                    <div class="col s3 input-field inline">
                        <label for="option4 input-field inline">Option 4
                        </label>
                        <input type="text" id="option4" ng-model="vm.questionForm.option4" required>

                    </div>
                </div>
            </div>
            <div class="row">
                <span>Correct Option</span>
                <input id="option1new" name="group1" ng-if="vm.questionForm.option1" ng-model="vm.questionForm.answer" ng-value="vm.questionForm.option1"
                    type="radio">
                <label for="option1new">{{vm.questionForm.option1}}</label>
                <input id="option2new" name="group1" ng-if="vm.questionForm.option2" ng-model="vm.questionForm.answer" ng-value="vm.questionForm.option2"
                    type="radio">
                <label for="option2new">{{vm.questionForm.option2}}</label>
                <input id="option3new" name="group1" ng-if="vm.questionForm.option3" ng-model="vm.questionForm.answer" ng-value="vm.questionForm.option3"
                    type="radio">
                <label for="option3new">{{vm.questionForm.option3}}</label>
                <input id="option4new" name="group1" ng-if="vm.questionForm.option4" ng-model="vm.questionForm.answer" ng-value="vm.questionForm.option4"
                    type="radio">
                <label for="option4new">{{vm.questionForm.option4}}</label>
                <div class="row right">
                    <div class="col s6">
                        <button class="modal-close btn btn-small z-depth-3 right  green lighten-1" type="submit">Submit</button>
                    </div>
                    <div class="col s6">
                        <a class="btn btn-small right z-depth-3 green lighten-1" ng-click="vm.resetSubmitForm()">Reset</a>
                    </div>
                </div>
            </div>




        </form>


    </div>
    <div ng-if="vm.action==='edit' ">
        <h6>Edit Question</h6>
        <form ng-submit="vm.Question( 'edit') ">
            <div class="row">

                <div class="col s12 m6 input-field inline">
                    <label for="Description">Question Description
                    </label>
                    <input id="Description" type="text" ng-model="vm.questionForm.description" required>

                </div>

                <div class="col s12 m12 l62 l6">
                    <div class="col s3 input-field inline">
                        <label for="option1">Option 1
                        </label>
                        <input type="text" id="option1" ng-model="vm.questionForm.option1" required>
                    </div>
                    <div class="col s3 input-field inline">
                        <label for="option2">Option 2
                        </label>
                        <input type="text" id="option2" ng-model="vm.questionForm.option2" required>
                    </div>


                    <div class="col s3 input-field inline">
                        <label for="option3">Option 3
                        </label>
                        <input type="text" id="option3" ng-model="vm.questionForm.option3" required>
                    </div>

                    <div class="col s3 input-field inline">
                        <label for="option4 input-field inline">Option 4
                        </label>
                        <input type="text" id="option4" ng-model="vm.questionForm.option4" required>

                    </div>
                </div>
            </div>
            <div class="row">
                <span>Correct Option</span>
                <input id="option1edit" name="group2" ng-model="vm.questionForm.answer" ng-if="vm.questionForm.option1" ng-value="vm.questionForm.option1"
                    type="radio">
                <label for="option1edit">{{vm.questionForm.option1}}</label>
                <input id="option2edit" name="group2" ng-model="vm.questionForm.answer" ng-if="vm.questionForm.option2" ng-value="vm.questionForm.option2"
                    type="radio">
                <label for="option2edit">{{vm.questionForm.option2}}</label>
                <input id="option3edit" name="group2" ng-model="vm.questionForm.answer" ng-if="vm.questionForm.option3" ng-value="vm.questionForm.option3"
                    type="radio">
                <label for="option3edit">{{vm.questionForm.option3}}</label>
                <input id="option4edit" name="group2" ng-model="vm.questionForm.answer" ng-if="vm.questionForm.option4" ng-value="vm.questionForm.option4"
                    type="radio">
                <label for="option4edit">{{vm.questionForm.option4}}</label>
                <div class="row right">
                    <div class="col s6">
                        <button class="modal-close btn btn-small z-depth-3 right  green lighten-1" type="submit">Submit</button>
                    </div>
                    <div class="col s6">
                        <a class="btn btn-small right z-depth-3 green lighten-1" ng-click="vm.resetSubmitForm()">Reset</a>
                    </div>
                </div>
            </div>



        </form>
    </div>