<table class="container hide-on-med-and-down">
    <thead>
        <tr>
            <th>Rank</th>
            <th>UserName</th>
            <th>Number of Tests taken</th>
            <th>Current Average Percentage</th>
            <th>Details</th>
            <th>Performance Chart</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in vm.userList | orderBy : 'lastAveragePercentage'">
            <td>{{$index + 1}}</td>
            <td>{{user.username}}</td>
            <td>{{user.tests.length}}</td>
            <td>{{user.lastAveragePercentage | number:2}}</td>
            <td>
                <a class="modal-trigger" data-target="user-detail" ng-click="vm.selectUser(user)">Details</a>
            </td>
            <td>
                <a class="modal-trigger" data-target="user-performance-chart" , ng-click="vm.selectUser(user)">Show Chart</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="hide-on-large-only">
    <div ng-repeat="user in vm.userList| orderBy : '-lastAveragePercentage'">
        <div class="col s12 m6">
            <div class="card" ng-class="vm.isSelected(question)">
                <div class=" card-content">

                    <p>User : {{user.username}}</p>
                    <p>Number of Tests Taken : {{user.tests.length}}</p>
                    <p>Current Average Score : {{user.lastAveragePercentage | number:2 }}
                    </p>

                </div>
                <div class="card-action ">
                    <a class="modal-trigger" data-target="user-detail" ng-click="vm.selectUser(user)">Details</a>

                    </a>
                    <a class="modal-trigger" data-target="user-performance-chart" , ng-click="vm.selectUser(user)">Show Chart</a>

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="user-performance-chart">
    <p>UserName : {{vm.selectedUser.username}}</p>
    <div style="width:100%;">
        <canvas style="width : 100%" class="chart chart-line" chart-data="data" chart-labels="labels">
        </canvas>
    </div>
</div>

<div class="modal" id="user-detail">
    <div class="modal-content">
        <p>{{vm.selectedUser.username}}</p>
        <p>{{vm.selectedUser.currentAverage}}</p>
        <table>

            <thead>
                <tr>
                    <th>Test Name</th>
                    <th>Attempt Date</th>
                    <th>Score</th>
                    <th>Time Taken (in-seconds)</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="test in vm.selectedUser.tests track by $index">
                    <td>{{test.test.testname}}</td>
                    <td>{{test.attemptedDate}}</td>
                    <td>{{test.score}}</td>
                    <td>{{test.submitTime}}</td>

                </tr>
            </tbody>
        </table>
    </div>
</div>