<div class="navbar-fixed">
    <nav class="nav-extended indigo darken-2">
        <div class="nav-wrapper">
            <a data-activates="user-slide-out" class="button-collapse sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <a class="brand-logo">Quiz-me</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="waves-effect waves-light text-lighten-2">{{vm.user.username | uppercase}}</a>
                </li>
                <li>
                    <a class="waves-effect waves-light text-lighten-2" ng-click="vm.logout()">logout</a>
                </li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab">
                    <a class="white-text" ng-click="vm.toggleView(0)">Test List</a>
                </li>
                <li class="tab">
                    <a class="white-text" ng-click="vm.toggleView(1)">Test Results</a>
                </li>
                <li class="tab">
                    <a class="white-text" ng-click="vm.toggleView(2)">Progress</a>
                </li>
            </ul>

        </div>
    </nav>
</div>
<div id="user-slide-out" class="side-nav">
    <ul>
        <li>
            <a class="waves-effect waves-light text-lighten-2">{{vm.user.username | uppercase}}</a>
        </li>
        <li>
            <a class="waves-effect waves-light text-lighten-2" ng-click="vm.logout()">logout</a>
        </li>
    </ul>
</div>

<div class="db-content">
    <div ng-if="vm.views[0].show">

        <test-listing></test-listing>
    </div>
    <!-- given test -->
    <div ng-if="vm.views[1].show">
        <user-details></user-details>
    </div>
    <div ng-if="vm.views[2].show">
        <div class="container">
            <div class="row">
                <div class="row" style="align-items: center">
                    <div class="col s12 m6">
                        <p class="center-align flow-text">Average percentage for last 6 tests</p>
                    </div>
                    <div class="col s2 m1 center-align flow-text" ng-repeat="percentage in vm.dispAveragePercentage track by $index">
                        <p class="center-align">{{ percentage | number:1}}</p>
                    </div>
                </div>
            </div>
            <h6 class="center-align flow-text">Average Percentage Chart</h6>
        </div>
        <div style="width:100%">
            <canvas style="width : 100%" class="chart chart-line" chart-data="data" chart-labels="labels">
            </canvas>
        </div>
    </div>
</div>
</div>