.question-button:active {
  background: orange;
}
.question-navigation {
  height: 30%;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 2px;
  overflow: scroll;
}
.selected-option {
  background: green;
}
