<div class="navbar">
    <nav class="nav-extended navbar-fixed indigo darken-5">
        <div class="nav-wrapper">
            <a class="brand-logo">{{vm.test.testname}}</a>
            <ul class="right">
                <li></li>
            </ul>
        </div>
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab">Time Left: &nbsp;{{vm.dispTime}}</li>
                <li class="tab">
                    <a class="modal-trigger white-text" data-target="end-test-dialog" type="button">Submit Test</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="modal" id="end-test-dialog">

    <div class="modal-content">
        <h5>Are you sure you want to submit the test?</h5>
    </div>
    <div class="modal-footer">
        <a class="modal-close btn-flat" type="button" ng-click="vm.endTest()">Submit Test</a>
        <a class="modal-close btn-flat">Cancel</a>

    </div>
</div>
<div class="container db-content">
    <div class="divider"></div>
    <div class="section" ng-repeat="question in vm.test.questions">
        <h5>Q{{$index +1}}.&nbsp;&nbsp;{{question.description}}</h5>
        <h5 class="right" ng-if="question.userAnswer">{{question.userAnswer}}
            <span ng-if="question.answered">
                <i class="material-icons blue-text">check_circle</i>
            </span>
        </h5>
        <form ng-submit="vm.submitAnswer(question._id, question.userAnswer)">
            <ul>
                <li ng-repeat="option in question.options">
                    <input type="radio" ng-model="question.userAnswer" id="option{{question._id + $index}}" group="group{{question._id}}" value="{{option}}">
                    <label for="option{{question._id + $index}}">{{option}}</label>
                </li>
            </ul>
            <button class="btn btn-flat" type="submit">Submit Answer</button>
            <a class="btn btn-flat" ng-click="vm.resetAnswer(question._id)">Reset Answer</a>
        </form>
    </div>
    <div class="divider"></div>
</div>