<div class="modal-content">
    <div ng-if="vm.test">
        <div class="modal-header">
            <h6>Edit Test</h6>
        </div>
        <form ng-submit="vm.submitTest(mode)">
            <div class="input-field">
                <label for="testname">Test Name</label>
                <input id="testname" type="text" ng-model="vm.testForm.testname">
            </div>
            <div class="input-field">
                <label for="testtime">Duration of Test (In seconds)</label>
                <input type="number" class="input-field inline" ng-model="vm.test.timelimit">
            </div>

            <button class="btn btn-small z-depth-3 green lighten-1 modal-close" type="submit">Submit</button>

        </form>

    </div>

    <div ng-if="!vm.test">
        <div class="modal-header">
            <h6>Add New Test</h6>
        </div>
        <form ng-submit="vm.submitTest(mode)">
            <label for="testnamenew">Test Name</label>


            <input id="testnamenew" type="text" ng-model="vm.testForm.testname" required>
            <label for="testtimenew" required>Test Duration (In seconds)</label>
            <input id="testtimenew" type="number" ng-model="vm.testForm.timelimit">
            <button class="btn btn-small z-depth-3 green lighten-1 modal-close" type="submit">Submit</button>

        </form>
    </div>
</div>