<div class="container flow-text">
    <div class="row">
        <div class="col s12 m4" ng-repeat="test in vm.testList">
            <div class="card">
                <div class="card-content">
                    <span class="card-title truncate" data-tooltip="{{test.testname}}" data-position="bottom" tooltipped>{{test.testname}}</span>
                    <div class="row">
                        <div class="col s6 col-content">
                            <h6>
                                {{test.questions.length}}
                                <span>
                                    <em>&nbsp;&nbsp;Questions</em>
                                </span>
                            </h6>
                        </div>
                        <div class="col s6 col-content">
                            <h6>

                                {{test.testTimeMinutes}}
                                <span>
                                    <em>Minutes</em>
                                </span>

                                {{test.testTimeSeconds}}
                                <span>
                                    <em>Seconds</em>
                                </span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a class="modal-trigger blue-text" ng-click="vm.selectTest(test)" data-target="test-instructions">Attempt</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-fixed-footer flow-text" id="test-instructions">
    <div class="modal-content">
        <h5>Test Name : &nbsp;&nbsp; {{vm.selectedTest.testname}}</h5>
        <h5>Time Limit : &nbsp;&nbsp; {{vm.selectedTest.testTimeMinutes}} Minutes {{vm.selectedTest.testTimeSeconds}} Seconds
        </h5>
        <h5>No of Questions : &nbsp;&nbsp;{{vm.selectedTest.questions.length}}</h5>
        <div class="divider"></div>
        <h5>Instructions</h5>
        <div class="divider"></div>
        <h6 class="red-text">**PLEASE READ THE INSTRUCTIONS CAREFULLY BEFORE STARTING THE TEST.**</h6>
        <ol>
            <li>
                <p> On the test page you will see the test time in seconds on the upper left corner. </p>
            </li>
            <li>
                <p> A Submit test button on the upper right corner. </p>
                <div>
                    <img src="https://i.imgur.com/85vL4wj.png" class="responsive-img" title="nav-bar-img" />
                </div>
            </li>
            <li>
                <p> A list of questions with their options. </p>
            </li>
            <li>
                <p> Each question has 4 options. </p>
            </li>
            <li>
                <p> You must select the option of your choice and click submit button to submit the answer for review. </p>
            </li>
            <li>
                <p> If you want to reset your answer click on reset button. </p>
                <div>
                    <img src="https://i.imgur.com/tatPuze.png" class="responsive-img" title="nav-bar-img" />
                </div>
            </li>
            <li>
                <p> Your selected answer appears on the right hand side of the question </p>
            </li>
            <li>
                <p> If the answer has been submitted a blue tick will appear beside the answer. If there is no blue tick then
                    the answe has not been submitted. </p>
                <div>
                    <img src="https://i.imgur.com/qWxkTsE.png" class="responsive-img" title="nav-bar-img" />
                </div>
            </li>
            <li>
                <p> You can submit the test any time before the time expires. </p>
            </li>
            <li>
                <p> Once the time expires your test will automatically be submitted. The answers that you have submitted till
                    that point will be considered for evaluation. </p>
            </li>
        </ol>


    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat" ng-click="vm.goToTest()">Take the test</a>
        <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
</div>