<div ng-if="vm.action === 'register'" class="row">
    <form class="col s12" ng-submit="vm.register()">
        <h6 class="flow-text red white-text" ng-if="vm.showEmailError">This email already exists in our system</h6>
        <h6 class="flow-text red white-text" ng-if="vm.showUserNameError">This Username already exists in our system</h6>
        <div ng-if="vm.userType === 'Admin'" class="row">
            <div class="input-field col s12">
                <input type="number" id="Admin_idReg" ng-model="vm.registrationForm.admin_id" required>
                <label for="Admin_idReg">Admin Id</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <input type="text" id="usernameReg" ng-model="vm.registrationForm.username" required>
                <label for="usernameReg">User Name</label>
            </div>
            <div class="input-field col s12 m6">
                <input type="password" id="passwordReg" ng-model="vm.registrationForm.password" required>
                <label for="PasswordReg">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="email" id="emailReg" ng-model="vm.registrationForm.email" required>
                <label for="emailReg">email</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button class="waves-effect waves-light btn blue z-depth-3" type="submit">Submit</button>
                <a ng-if="vm.userType === 'User'" class="waves-effect waves-light btn red z-depth-3" href="/signin/google">Google Signup</a>
            </div>
        </div>
    </form>
</div>
<div ng-if="vm.action === 'login'" class="row">
    <h6 class="flow-text red white-text" ng-if="vm.showWrongCredentials">{{vm.showWrongCredentials}}</h6>

    <form ng-if="!vm.showResetPasswordForm" class="col s12" ng-submit="vm.login()">
        <div ng-if="vm.userType === 'User'" class="row">
            <div class="input-field col s12">
                <input type="email" id="emailLogin" ng-model="vm.registrationForm.email" required>
                <label for="emailLogin">email</label>
            </div>
        </div>
        <div ng-if="vm.userType === 'Admin'" class="row">
            <div class="input-field col s12">
                <input type="number" id="Admin_idLogin" ng-model="vm.registrationForm.admin_id" required>
                <label for="Admin_idLogin">Admin Id</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input type="password" id="passwordLogin" ng-model="vm.registrationForm.password" required>
                <label for="PasswordLogin">Password</label>
            </div>
        </div>
        <div class="row">
            <button class="waves-effect waves-light btn blue" type="submit">Submit</button>
            <a ng-if="vm.userType === 'User'" class="waves-effect waves-light btn red z-depth-3" href="/signin/google">Google Login</a>

        </div>
    </form>
</div>
<div ng-if="vm.action === 'resetPassword'">
    <div class="modal-content">
        <form class="col s12" ng-submit="vm.forgotPassword(vm.userType)">
            <h6 class="flow-text" ng-if="vm.showResetEmailNotSent">Please enter your email below we will send you an email to reset your password.</h6>
            <h6 class="flow-text" ng-if="!vm.showResetEmailNotSent">
                <span>
                    <i class="material-icons green-text">check_circle</i>
                </span>We have sent you an email to reset your password. Please check your mail box.</h6>
            <div class="input-field col s12" ng-if="vm.showResetEmailNotSent">
                <input type="email" id="emailForgotPassword" ng-model="vm.forgotPasswordEmail" required>
                <label for="emailForgotPassword">Email</label>
            </div>
            <button class="btn btb-flat z-depth-3" ng-if="vm.showResetEmailNotSent" type="submit">Submit</button>
        </form>
    </div>
</div>