<div class="container">
    <div ng-if="vm.showTestList" class="row">

        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <input type="text" id="search-test" ng-model="testToSearch">
                    <label for="search-test">Search Test</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="test in vm.testList | orderBy : 'vm.orderByQuestions'| filter: testToSearch" class="col s12 m4">
                <div class="col-content">
                    <div class="card">

                        <div class="content">
                            <span class="card-title truncate" data-tooltip="{{test.testname}}" data-position="bottom">
                                {{test.testname}}
                            </span>
                            <p>Questions {{test.questions.length}}</p>

                            <span>Duration : {{test.timelimit}}</span>
                        </div>
                        <div class="card-action">
                            <a class="modal-trigger" ng-click="vm.selectedTest = test" data-target="test-manager">
                                <i class="material-icons blue-text" tooltipped data-position="bottom" data-tooltip="Edit this test">edit</i>
                            </a>
                            <a ng-click="vm.deleteTest(test)">
                                <i class="material-icons red-text" tooltipped data-position="bottom" data-tooltip="delete test">delete</i>
                            </a>
                            <a ng-click="vm.toggleView(3, test)" data-target="test-manager">
                                <i class="material-icons green-text" tooltipped data-tooltip="Edit Questions in this test" data-position="bottom">add_circle</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-action-btn">
            <a modal data-target="test-manager" ng-click="vm.selectedTest = null" class="modal-trigger btn-floating btn-large red">
                <i class="large material-icons">edit</i>
            </a>
        </div>
        <div id="test-manager" class="modal">
            <div class="container">
                <test-manager test="vm.selectedTest " on-delete="vm.deleteTest(test) " on-update="vm.updateTestList(test) "></test-manager>
            </div>
        </div>
    </div>
    <div ng-if="vm.showQuestionListAddToTest">
        <div class="fixed-action-btn">
            <a ng-click="vm.submitTestQuestions()" ng-disabled="vm.disableAddQuestions" class="btn red">Submit Questions
            </a>
        </div>
        <a class="btn btn-small blue z-depth-3" ng-click="vm.toggleView(1)">Back</a>
        <a ng-if="!vm.showAddNewQForm" class="btn btn-small green z-index-3 right" ng-click="vm.showAddNewQForm =!vm.showAddNewQForm">New Question</a>
        <div ng-if="vm.showAddNewQForm" class="col s12 ">
            <a ng-click="vm.showAddNewQForm = !vm.showAddNewQForm" class="btn btn-small red right z-depth-3">Dismiss</a>
            <question-manager action="vm.showNew " on-update="vm.updateQuestionList(question) "></question-manager>
        </div>
        <h5 class="align-center">Add Questions to {{vm.selectedTest.testname}}</h5>
        <h6 class="flow-text indigo lighten-3">Selected Questions are marked in this color.</h6>
        <hr>
        <div class="row">
            <div class="input-field col s12 m4">
                <input id="questionSearch" type="text" ng-model="searchByQuestion">
                <label for="questionSearch">Search Question</label>
            </div>
            <div class="input-field col s12 m4">

                <select class="" id="selectByQuestion" ng-model="selectopt" material-select watch>
                    <option value="" disabled selected>Sort Questions</option>
                    <option value="">Show All</option>
                    <option value="true">Show Selected</option>
                    <option value="false">Show Unselected</option>
                    <label>Sort By</label>
                </select>
            </div>
        </div>
        <div class="row hide-on-med-and-down">
            <div class="col s12">
                <table>
                    <thead>
                        <tr>
                            <th>Question Description</th>
                            <th>option1</th>
                            <th>Option2</th>
                            <th>Option3</th>
                            <th>Option4</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="questionList">
                        <tr ng-repeat="question in vm.questionList | filter : {selected : selectopt} | filter : searchByQuestion" ng-class="vm.isSelected(question)">
                            <td> {{$index + 1}}. {{question.description}}</td>
                            <td ng-repeat="option in question.options track by $index">
                                {{option}}
                                <span ng-if="question.answer===option ">
                                    <i class="material-icons ">done</i>
                                </span>
                            </td>
                            <td>
                                <a class="" ng-click="vm.selectQuestion(question)" ng-disabled="question.selected">
                                    <i class="material-icons green-text" tooltipped data-tooltip="Add question to test" data-position="bottom">add_circle</i>
                                </a>
                                <a ng-click="vm.unselectQuestion(question)" class="" ng-disabled="!question.selected">
                                    <i class="material-icons red-text" tooltipped data-tooltip="Remove question from text" data-position="bottom">remove_circle</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="hide-on-large-only">
            <div class="fixed-action-btn">
                <a ng-click="vm.submitTestQuestions()" ng-disabled="vm.disableAddQuestions" class="btn red">Submit Questions
                </a>
            </div>
            <div ng-repeat="question in vm.questionList track by $index">
                <div class="col s12 m6">
                    <div class="card" ng-class="vm.isSelected(question)">
                        <div class=" card-content">
                            <span class="card-title ">{{question.description}}</span>
                            <ul>
                                <li ng-repeat="option in question.options track by $index ">Option {{$index + 1}} {{option}}
                                    <span ng-if="question.answer===option ">
                                        <i class="material-icons ">done</i>
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="card-action ">
                            <a class=" " ng-click="vm.selectQuestion(question) " ng-disabled="question.selected
                        " tooltipped data-position="bottom " data-tooltip="Add Question ">
                                Add to Test
                            </a>
                            <a ng-click="vm.unselectQuestion(question) " class=" " ng-disabled="!question.selected
                        " tooltipped data-position="bottom " data-tooltip="Remove Question ">
                                Remove From Test
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>