<div class="white app-body">
    <ng-view>
    </ng-view>
</div>
<footer class="page-footer indigo darken-5">
    <div class="footer-copyright">
        <div class="container">
            © 2018 Mayank Yadav

        </div>
    </div>
</footer>