body {
  font-size: 14px;
}

.app-body {
  min-height: 100vh;
  max-height: auto;
  min-width: 100%;
  width: auto;
}

.option-list li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}

.question-list {
  display: block;
  min-height: auto;
  max-height: 600px;
  overflow: scroll;
}

.fixed-action-btn > i {
  position: relative;
  top: calc(50% - 10px); /* 50% - 3/4 of icon height */
}

.db-content {
  margin-top: 60px;
}

a {
  cursor: pointer;
}
