<div class="container">
    <table class="striped">
        <tbody>

            <tr>
                <td>Test Name</td>
                <td>
                    {{vm.test.test.testname}}
                </td>
            </tr>
            <tr>
                <td>
                    Total Time Taken
                </td>
                <td>
                    {{vm.test.submitTime}}
                </td>
            </tr>
            <tr>
                <td>
                    Score
                </td>
                <td>
                    {{vm.test.score}}
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/#!/user/dashboard">Back To DashBoard</a>
</div>