<div class="navbar navbar-fixed">
    <nav class="nav-extended indigo darken-5">
        <div class="nav-wrapper">
            <a data-activates="login-nav" class="button-collapse sidenav-trigger">
                <i class="material-icons right">menu</i>
            </a>

            <a href="/#!/" class="brand-logo">Quiz Me</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a data-target="registerModal" ng-click="vm.loadForm('User', 'register')" class="waves-effect waves-light  modal-trigger text-lighten-2">User-Signup</a>
                </li>
                <li>
                    <a data-target="registerModal" ng-click="vm.loadForm('Admin', 'register')" class="waves-effect waves-light  modal-trigger text-lighten-2">Admin-Signup</a>
                </li>
                <li>
                    <a data-target="registerModal" ng-click="vm.loadForm('User', 'login')" class="waves-effect waves-light  modal-trigger text-lighten-2">Login</a>
                </li>
            </ul>

        </div>

    </nav>
</div>

<div class="side-nav" id="login-nav">
    <ul>
        <li>
            <a data-target="registerModal" ng-click="vm.loadForm('User', 'register')" class="waves-effect waves-light  modal-trigger text-lighten-2">User-Signup</a>
        </li>
        <li>
            <a data-target="registerModal" ng-click="vm.loadForm('Admin', 'register')" class="waves-effect waves-light  modal-trigger text-lighten-2">Admin-Signup</a>
        </li>
        <li>
            <a data-target="registerModal" ng-click="vm.loadForm('User', 'login')" class="waves-effect waves-light  modal-trigger text-lighten-2">Login</a>
        </li>
    </ul>
</div>

<h3 class="center-align flow-text">Register On Quiz Me to start taking tests!</h3>
<div class="divider"></div>
<div class="section center-align">
    <div class="row">
        <div class="col s12 m6">
            <sign-in user-type="vm.userTypeDefault" action="vm.actionDefault"></sign-in>
        </div>
    </div>
</div>

<div id="registerModal" class="modal">
    <div class="modal-content">
        <sign-in user-type="vm.userType" action="vm.action"></sign-in>
    </div>
    <div class="modal-footer" ng-if="vm.action ==='login'">
        <a data-target="registerModal modal-close" ng-click="vm.loadForm(User, 'resetPassword')">Forgot Password</a>
    </div>
</div>